@use "../abstracts/variables" as *;
@use "astro-breadcrumbs/breadcrumbs.scss" with (
  $color-hover-link: $primary-color,
  $color-is-current: $accent-color,
  $overflow-wrap-horizontal-spacing: 5px
);
.c-breadcrumbs {
  margin: 1.5em;
  font-size: 1.2rem !important;
  &__link::first-letter {
    text-transform: uppercase;
  }
  .is-current {
    font-weight: bold;
  }
}
