@use "../abstracts/variables" as *;
@use "astro-breadcrumbs/breadcrumbs.scss" with (
  $color-hover-link: var(--secondary),
  $color-is-current: var(--primary),
  $overflow-wrap-horizontal-spacing: 5px
);
.c-breadcrumbs {
  margin: 1.5em;
  font-size: 1.2rem !important;
  .is-current {
    font-weight: bold;
  }
  &__crumb {
    margin-bottom: 0.7rem;
  }
}
