@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.button {
  text-decoration: none;
  border-radius: 5px;
  border: 0px solid transparent;
  min-height: 45px !important;
  min-width: 45px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  font-weight: 700;
  font-size: 20px;
}

//botones con texto e icono con fondo
.button-text-icon-background-secondary,
.button-text-background-secondary {
  padding: 0.2rem 0.8rem;
  @include button-text-icon(var(--accent), $labels-color);
}
.button-text-icon-background-primary,
.button-text-background-primary {
  padding: 0.2rem 0.8rem;
  @include button-text-icon(var(--primary), #fff);
}
.button-text-icon-background-accent,
.button-text-background-accent {
  padding: 0.2rem 0.8rem;
  @include button-text-icon(var(--secondary), #fff);
}

//botones con icono
.button-icon-accent {
  @include button-icon(40px, var(--secondary));
  background-color: var(--bg-card);
  @include hover-elevate(var(--bg-card), var(--secondary));
}
.button-icon-secondary {
  @include button-icon(40px, var(--accent));
  background-color: var(--bg-card);
  @include hover-elevate(var(--bg-card), var(--accent));
}
.button-icon-primary {
  @include button-icon(40px, var(--primary));
  background-color: var(--bg-card);
  @include hover-elevate(var(--bg-card), var(--primary));
}
//botones con icono y fondo
.button-icon-background-secondary {
  @include button-icon(40px, $labels-color);
  background-color: $secondary-color;
  @include hover-elevate(var(--accent), $labels-color);
}
.button-icon-background-primary {
  @include button-icon(40px, var(--bg-card));
  background-color: var(--primary);
  @include hover-elevate(var(--primary), var(--bg-card));
}
.button-icon-background-accent {
  @include button-icon(40px, var(--bg-card));
  background-color: var(--secondary);
  @include hover-elevate(var(--secondary), var(--bg-card));
}
// botones con texto e icono
.button-text-icon-secondary,
.button-text-secondary {
  padding: 0.2rem 0.8rem;
  @include button-text-icon(var(--bg-card), var(--accent));
}
.button-text-icon-accent,
.button-text-accent {
  padding: 0.2rem 0.8rem;
  @include button-text-icon(var(--bg-card), var(--secondary));
}
.button-text-icon-primary,
.button-text-primary {
  padding: 0.2rem 0.8rem;
  @include button-text-icon(var(--bg-card), var(--primary));
}

//botones con borde
.button-text-icon-border-secondary {
  @extend .button-text-icon-secondary;
  border: 2px var(--accent) solid;
  padding: 0.2rem 0.8rem;
}
.button-text-icon-border-primary {
  @extend .button-text-icon-primary;
  border: 2px var(--primary) solid;
  padding: 0.2rem 0.8rem;
}
.button-text-icon-border-accent {
  @extend .button-text-icon-accent;
  border: 2px var(--secondary) solid;
  padding: 0.2rem 0.8rem;
}
