@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.certificate-view {
  &--open-button {
    margin: auto;
  }
  &--dialog {
    z-index: 1;
    position: fixed;
    border: none;
    top: 0%;
    height: 100dvh;
    width: 100dvw;
    &--content {
      padding: 1em;
      max-width: 1024px;
      margin: auto;
    }
    &--head {
      display: grid;
      grid-template-columns: 1fr 60px;
      gap: 10px;
      & > div > :first-child {
        font-size: clamp(1.5rem, 3vw, 2.25rem);
        line-height: 1.2;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        text-wrap: balance;
        margin: 0.5em 0;
      }
    }
    &--body {
      & > img {
        object-fit: contain;
        width: 100%;
        height: 60dvh;
      }
    }
    &--footer {
      display: flex;
      justify-content: space-around;
      @include breakpoint(lg) {
        justify-content: start;
        gap: 1em;
      }
    }
  }
}
