@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.certificate-card {
  &--year {
    position: absolute;
    top: 40%;
    left: -25px;
    & > div {
      background-color: #fff;
      padding: 10px 8px;
    }
    @include breakpoint(lg) {
      left: 48%;
    }
  }
  &--info {
    margin-left: 2em;
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &-text {
      text-align: center;
      & > h2 {
        margin-bottom: 5px;
        font-size: clamp(1.25rem, 2.5vw, 2rem) !important;
      }
    }
    @include breakpoint(lg) {
      width: 46%;
      margin-left: 0;
    }
  }
  & dialog {
    z-index: 1;
  }
}
