@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.feature-card {
  background-color: #fff;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  & h3 {
    text-align: center;
  }
  & figure {
    margin: 0;
  }
  & img {
    width: 100%;
    border-radius: 5px;
    height: max-content;
    box-shadow: 0px 13px 38px -9px rgba(0, 0, 0, 0.37);
  }
  @include breakpoint(xl) {
    & figcaption {
      width: 100%;
    }
    flex-direction: row;
    gap: 2em;
    justify-items: center;
    & h3,
    & p {
      text-align: left;
    }
  }
}
.card-align-left {
  flex-direction: column-reverse;
  @include breakpoint(xl) {
    flex-direction: row-reverse;
    & h3,
    & p {
      text-align: right !important;
    }
  }
}
