@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.feature-card {
  margin-bottom: 2em;
  & figure {
    margin: 0;
  }
  & img {
    width: 100%;
    border-radius: 5px;
    height: max-content;
    box-shadow: 0px 13px 38px -9px rgba(0, 0, 0, 0.37);
  }
  @include breakpoint(lg) {
    & figcaption {
      padding: 0px 3em;
    }
    & img {
      margin: 0px auto;
      width: 50dvw;
      max-width: 960px;
      display: block;
    }
  }
}
