@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.footer {
  background-color: $primary-color;
  color: white;
  &--content {
    padding: 2em 0px;
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: space-between;
    & > div {
      margin: auto;
      & > p {
        margin: 0px;
      }
    }
    @include breakpoint(lg) {
      flex-direction: row;
      & > div {
        margin: initial;
      }
    }
  }
  &--social {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
