@use "../abstracts/variables" as *;

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.795);
  z-index: 20;
  padding: 1rem;

  &.open {
    display: flex;
  }

  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .modal-img {
    --x: 50%;
    --y: 50%;
    --zoom: 1;
    max-width: 90%;
    max-height: 70vh;
    border-radius: 8px;
    object-fit: contain;
    cursor: crosshair;
    transform-origin: var(--x) var(--y);
    transform: scale(var(--zoom));
    transition: transform 0.1s ease-out;
  }

  /* --- CARRUSEL DE MINIATURAS --- */

  .thumbs-wrapper {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin-top: 1rem;
    padding: 0 2.5rem;
  }

  .modal-thumbnails {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
    cursor: grab;

    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
      border-radius: 4px;
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.7;
      flex: 0 0 auto;
      transition: transform 0.2s, opacity 0.2s;

      &:hover,
      &.active {
        transform: scale(1.1);
        opacity: 1;
        outline: 2px solid #fff;
      }
    }
  }

  .thumbs-nav {
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    display: grid;
    place-items: center;
    transition: background 0.2s;
    &:hover {
      transform: none;
      background: $accent-color;
    }
    &.left {
      left: -1rem;
      svg {
        transform: rotate(180deg);
      }
    }
    &.right {
      right: -1rem;
    }
  }

  @media (min-width: 768px) {
    .modal-img {
      max-height: 80vh;
    }
    .modal-thumbnails img {
      width: 80px;
      height: 80px;
    }
  }
}
