@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "sass:color";
.project-card {
  width: 100%;
  text-decoration: none;
  max-width: 320px;
  color: var(--text);
  background-color: var(--bg-card);
  display: grid;
  gap: 5px;
  border: 2px transparent;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  &-image {
    border-radius: 10px 10px 0px 0px;
    height: 150px;
    overflow: hidden;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  strong {
    color: var(--text);
  }
  & > :last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 20px;
    margin: auto;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  @include breakpoint(xl) {
    grid-template-rows: 150px auto auto 20px;
    strong {
      align-self: center;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    box-shadow: 0px 13px 38px -9px var(--shadow);
  }
}
