@use "../abstracts/mixins" as *;
.project {
  &-inputs {
    display: grid;
    gap: 1em;
    @include breakpoint(md) {
      grid-template-columns: 2fr 1fr;
    }
    @include breakpoint(lg) {
      grid-template-columns: 1fr 200px;
      padding: 0 1dvw;
    }
  }
  &-input {
    display: flex;
    max-width: 1200px;
    input {
      font-size: 18px;
      padding: 0px 8px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 0px solid transparent;
      min-height: 45px !important;
      width: 100%;
    }
  }
  &-button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important ;
  }
  &-filter-button {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    @include breakpoint(lg) {
      max-width: 150px;
    }
  }
  &-filters-modal {
    position: absolute;
    top: -0.5em;
    left: -1000%;
    width: 100dvw;
    z-index: 2 !important;
    border-radius: 10px;
    border: 0;
    transition: left 0.5s ease;

    &.open {
      left: -10dvw;
      @include breakpoint(sm) {
        left: 0;
      }
    }
  }
}
.project-filters-panel {
  padding: 1em;
  background: white;
  border-radius: 10px;
  padding-bottom: 2em;
  max-width: 400px;
  box-shadow: 10px 10px 10px rgba(33, 21, 55, 0.2784313725);
  & > :first-child {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 1em;

    h3 {
      margin: 0;
      line-height: 2;
    }

    button {
      box-shadow: 4px 4px 4px rgba(33, 21, 55, 0.2784313725);
    }
  }

  select {
    width: 100%;
    height: 2rem;
    font-size: 18px;
    padding: 0px 8px;
    border-radius: 5px;
  }

  & > :last-child {
    & > div > div {
      display: flex;
      justify-items: center;
      gap: 10px;
      label {
        line-height: 1.7;
        width: 60%;
      }
    }

    input[type="checkbox"] {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
.projects-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1em auto;
  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
