@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.project--card {
  padding: 10px;
  box-shadow: 0px 13px 38px -9px rgba(0, 0, 0, 0.37);
  background-color: #fff;
  border-radius: 15px;
  height: 100%;
  display: grid;
  gap: 10px;
  width: 100%;
  text-decoration: none;
  align-self: center;
  &-image-div {
    overflow: hidden;
  }
  &-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  &-title {
    color: black;
    font-size: 1.3em;
    line-height: 1;
  }
  &-description {
    color: black;
  }
  &-technologies {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &-bottom > div:nth-child(2) {
    gap: 2em;
  }
  @include breakpoint(md) {
    grid-template-rows: auto 3em 3em 2em;
  }
  @include breakpoint(lg) {
    grid-template-rows: 210px min-content min-content max-content;
  }
  & .project--card-more {
    color: #000;
  }
  &:hover {
    .project--card-image {
      transform: scale(1.1);
    }
    .project--card-title {
      color: $primary-color;
    }
    .project--card-more {
      color: $primary-color;
      transform: scale(1.1);
      transition: ease-in-out;
    }
  }
}
