@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.studyCard {
  border: 2px solid $accent-color;
  background-color: #fff;
  width: 100%;
  padding: 2em 2em;
  border-radius: 5px;
  display: grid;
  gap: 2em;
  grid-template-columns: 80px 1fr;

  &-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  & > div > p {
    margin-top: 0px;
  }
}
