@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.workCard {
  background-color: var(--bg-card);
  border-left: 5px solid var(--accent);
  padding: 2em;
  width: 100%;
  & > ul {
    padding-left: 2em;
  }
  & li::marker {
    color: var(--accent);
  }
  & > :first-child {
    margin-top: 0px !important;
  }

  @include breakpoint(xl) {
    & > div:first-child {
      & > h3,
      & > p {
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }
    padding-left: 4em;
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr 2fr;
  }
}
