@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.workCard {
  border-left: 5px solid $secondary-color;
  padding: 2em;
  width: 100%;
  & > ul {
    padding-left: 2em;
  }
  & li::marker {
    color: $secondary-color;
  }
  & > :first-child {
    margin-top: 0px !important;
  }

  @include breakpoint(xl) {
    & > div:first-child {
      & > h3,
      & > p {
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }
    padding-left: 4em;
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr 2fr;
  }
}
