@use "../abstracts/variables" as *;
.workCard {
  box-shadow: 2px 2px 7px 4px #21153747;
  padding: 1em;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  & > ul {
    padding-left: 2em;
  }
  & > h3 {
    color: $secondary-color;
  }
  & li::marker {
    color: $secondary-color;
  }
  & > :first-child {
    margin-top: 0px !important;
  }
}
