@use "./variables" as *;
@use "sass:map";
@mixin button-icon($size, $fill) {
  @extend .button;
  margin: 0px !important;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 45px;
  height: 45px;
  & svg {
    width: $size;
    height: $size;
  }
  & path {
    fill: $fill !important;
  }
}
@mixin button-text-icon($bg, $color) {
  @extend .button;
  background-color: $bg;
  color: $color;
  padding: 5px 10px;
  & svg {
    margin-left: 5px;
    padding: 4px;
    width: 30px !important;
    height: 30px !important;
    g {
      stroke: $color !important;
      path {
        stroke: $color !important;
        fill: none;
      }
    }
    path {
      fill: $color !important;
    }
  }
  @include hover-elevate($bg, $color);
}
@mixin image-rounded-border($radius) {
  border-radius: $radius;
  object-fit: cover;
}
@mixin breakpoint($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}
@mixin hover-elevate($bg-hover: null, $text-hover: null) {
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    @if $bg-hover {
      background-color: $bg-hover;
    }

    @if $text-hover {
      color: $text-hover;
    }
  }
}
//tema
@mixin theme($t) {
  --primary: #{map.get($t, primary)};
  --primary-button: #{map.get($t, primary-button)};
  --secondary: #{map.get($t, secondary)};
  --accent: #{map.get($t, accent)};
  --bg: #{map.get($t, bg)};
  --text: #{map.get($t, text)};
  --bg-primary: #{map.get($t, bg-primary)};
  --shadow: #{map.get($t, shadow)};
  --bg-card: #{map.get($t, bg-card)};
  background-color: var(--bg);
  color: var(--text);
}
