$primary-color: #4d2b97;
$primary-color-button: #3c2178;
$secondary-color: #ffbc50;
$accent-color: #7d699a;
$bg-white: #fbeaff;
$labels-color: #2f2f2f;
$limit-size: 2000px;
$breakpoints: (
  sm: 480px,
  // pequeños móviles
  md: 768px,
  // tablets
  lg: 1024px,
  // laptops
  xl: 1280px,
  // desktops
  2xl: 1536px,
  // pantallas grandes
  limit: $limit-size,
);
.limit-section {
  max-width: $limit-size;
  margin: auto;
}
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-visible {
  position: static !important;
  width: auto !important;
  height: auto !important;
  padding: initial !important;
  margin: initial !important;
  overflow: visible !important;
  clip: auto !important;
  white-space: normal !important;
  border: initial !important;
}
