@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.certificates {
  display: flex;
  flex-direction: column;
  gap: 2em;

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    background-color: var(--accent);
    top: 0;
    bottom: 0;
    left: 0%;
    margin-left: -3px;
    border-radius: 5px;
  }

  @include breakpoint(lg) {
    &::after {
      left: 50%;
    }
    & > :nth-child(odd) {
      justify-items: end;
    }
  }
}
