@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
//Radius size for projects
$radius-size: 10px;
// Hero/Presentation
@include breakpoint(lg) {
  .hero {
    border-bottom-right-radius: $radius-size;
  }
}
.presentation {
  @extend .limit-section;
  min-height: 90dvh;
  padding-top: 5dvh;
  padding-bottom: 5dvh;
  display: grid;
  align-items: center;
  &-image {
    @include image-rounded-border(20px);
    background-color: #fff;
    margin: 0 auto;
    display: block;
    transform: rotate(0.1rad);
    width: 15em;
    height: 15em;
    object-position: 100% 1%;
    box-shadow: 5px 4px 5px 2px #00000033;
  }
  &-description {
    & > strong {
      font-weight: 400;
    }
    & > em {
      font-style: normal;
    }
  }
  &-buttons {
    margin-top: 2em;
    & > :first-child {
      color: $labels-color;
    }
    display: flex;
    justify-content: space-around;
    gap: 7px;
    @include breakpoint(sm) {
      justify-content: center;
      gap: 12px;
    }
  }
  //Etiqueta de disponibilidad
  .available-work {
    font-size: 0.95rem;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(0, 255, 128, 0.1);
    border: 2px solid #00c853;
    padding: 0.25em 0.75em;
    margin-top: 0.75rem;
    border-radius: 4px;
    display: inline-block;
    font-style: italic;
    letter-spacing: 0.25px;
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
    & > :first-child {
      order: 2;
      justify-self: end;
    }
    &-image {
      width: 30dvw;
      height: 30dvw;
    }
    &-buttons {
      justify-content: flex-start;
    }
    &-title {
      font-size: 4.8dvw;
    }
  }

  @include breakpoint(xl) {
    &-title {
      font-size: 4.2dvw;
    }
  }
  @include breakpoint(limit) {
    &-image {
      width: 35em;
      height: 35em;
    }
    &-title {
      font-size: 4.8em;
    }
  }
}
// Titles for about me and contact
.title-fusion {
  padding-top: 0px;
  & > :first-child {
    margin-bottom: 2em;
    border-bottom-left-radius: $radius-size;
    border-bottom-right-radius: $radius-size;
    & > h2 {
      margin: 0;
      padding: 0.5em 0em 0.2em 0em;
    }
    @include breakpoint(lg) {
      width: 50%;
    }
  }
}
//about me
.about-me {
  @extend .limit-section;
  @extend .title-fusion;
  & .content-full {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    @include breakpoint(lg) {
      margin-top: 15dvh;
      flex-direction: row;
    }
    @include breakpoint(xl) {
      align-items: center;
    }
  }
  &-text {
    & > p {
      margin-block-start: 0;
    }
    @include breakpoint(lg) {
      width: 60%;
    }
  }
  &-skills-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-wrap: balance;
    color: $primary-color;
    font-size: 1.5rem;
  }
  &-image {
    @include image-rounded-border(10px);
    width: 30dvw;
    height: auto;
    display: block;
    margin: 0px auto;
    box-shadow: -4px 4px 4px 2px #00000033;
    @include breakpoint(lg) {
      width: 30dvw;
    }
    @include breakpoint(2xl) {
      width: auto;
      margin: 0px;
    }
  }
  //habilidades
  &-skills {
    list-style: none;
    margin: 1em 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    @include breakpoint(xl) {
      gap: 15px;
    }
    @include breakpoint(lg) {
      margin-left: 1em;
    }
    & > li {
      background-color: #ffff;
      color: #000;
      padding: 2px 8px;
      margin: 0 2px;
      border: 1px solid $accent-color;
      border-radius: 5px;
    }
  }
  @include breakpoint(lg) {
    margin-bottom: 8em;
  }
}
//Work
.work-experience {
  margin-bottom: 4em;
  & h2 {
    padding-bottom: 1em;
  }
}
//Studies
.studies {
  margin-bottom: 4em;
  & > h3 {
    margin-bottom: 1em;
  }
  &-cards {
    display: grid;
    gap: 2em;
    @include breakpoint(xl) {
      grid-template-columns: 1fr 1fr;
    }
  }
  & > a:last-child {
    margin: 2em auto;
  }
}

//Project
.project-section {
  padding-top: 2em;
  min-height: 100dvh;
  @extend .limit-section;
  .projects-button {
    margin: auto;
    margin-top: 2em;
  }
  @include breakpoint(lg) {
    border-top-left-radius: $radius-size;
    border-bottom-right-radius: $radius-size;
    padding-bottom: 3em;
  }
  .projects-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 1em;
    margin: 2em auto;
  }
}
//Contact
.contact {
  @extend .limit-section;
  @extend .title-fusion;
  padding-bottom: 3em;
  &-button {
    margin: auto;
  }
  & article ul {
    list-style: none;
    li {
      margin-bottom: 10px;
      a {
        color: #000;
      }
    }
  }
  form {
    border-radius: 1em;
    padding: 26px;
    background: #fff;
    box-shadow: 2px 2px 4px 4px #00000033;
    max-width: 500px;
    margin: auto;
    & > div {
      padding: 10px;
      margin-bottom: 1em;
      label {
        color: $labels-color;
        width: 100%;
        font-weight: 600;
      }
      input,
      textarea {
        width: 100%;
        font-size: 18px;
        padding: 5px;
        background-color: transparent;
        border-color: transparent transparent $accent-color transparent;
      }
      textarea {
        border-radius: 5px;
        margin-top: 10px;
        overflow-y: auto;
        resize: vertical;
        min-height: 5rem;
        max-height: 20rem;
        margin-bottom: 1em;
      }
    }
    & :nth-child(4) {
      margin-bottom: 2em;
    }
    .button-text-background-primary {
      margin: auto;
    }
    .captcha {
      min-height: 98px;
      overflow-x: auto;
      display: flex;
      justify-content: center;
    }
  }
  @include breakpoint(lg) {
    min-height: 100dvh;
    .content-full {
      margin-top: 4em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5dvw;
      & :first-child {
        order: 2;
      }
    }
  }
}
