@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
// Page styles
.project {
  &--inputs {
    margin-bottom: 1em;
    display: grid;
    gap: 1em;
    @include breakpoint(md) {
      grid-template-columns: 1fr 2fr;
    }
    @include breakpoint(lg) {
      grid-template-columns: 200px 1fr;
      padding: 0 1dvw;
    }
  }
  &--input {
    display: flex;
    max-width: 1200px;
    input {
      font-size: 18px;
      padding: 0px 8px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 2px $secondary-color solid;
      min-height: 45px !important;
      width: 100%;
    }
  }
  &--button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important ;
    &:hover {
      transform: none;
    }
  }
  &--filter-button {
    order: 2;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    @include breakpoint(lg) {
      max-width: 150px;
    }
    @include breakpoint(md) {
      order: initial;
    }
  }
  //Modal menu
  &--filters-modal {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -1000%;
    z-index: 1;
    border: 0;
    border-radius: 5px 5px 15px 15px;
    background-color: rgba(0, 0, 0, 0);
    transition: left 0.5s ease;
    transition: background-color 0.3s ease;
    transition: width 0.5s ease;
    //Open modal
    &.open {
      width: 100%;
      height: 100%;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.295);
    }
  }
}
// Filter menu styles
.project--filters-panel {
  padding: 1em;
  background: white;
  padding-bottom: 2em;
  width: 80dvw;
  max-width: 400px;
  & > :first-child {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 1em;

    h2 {
      margin: 0;
      line-height: 2;
    }

    button {
      box-shadow: 4px 4px 4px rgba(33, 21, 55, 0.2784313725);
    }
  }

  select {
    width: 100%;
    height: 2rem;
    font-size: 18px;
    padding: 0px 8px;
    border-radius: 5px;
  }

  &-technologies {
    & div {
      display: flex;
      justify-items: center;
      gap: 10px;
      label {
        line-height: 1.7;
        width: 60%;
      }
    }
    input[type="checkbox"] {
      width: 20px !important;
      height: 20px !important;
    }
  }
  @include breakpoint(md) {
    border-radius: 10px;
  }
}
//Grid section
.projects--grid-section {
  min-height: 100dvh;
  margin-top: 2em;
}
//Grid
.projects--grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    & > :first-child {
      grid-column: span 2;
      grid-template-rows: 2em auto 1.5em 2em;

      & img {
        height: max-content !important;
        object-fit: contain;
      }
    }
  }
  @include breakpoint(lg) {
    gap: 3em;
    & > :first-child {
      padding: 1em;
      & strong {
        font-size: 1.5em;
        color: $accent-color;
      }
      & img {
        min-height: 350px;
        max-height: 620px;
      }
    }
  }
}
