@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.project-page-mdx {
  & h2 {
    margin-top: 4dvh;
    color: $primary-color;
  }
  & h3 {
    color: $accent-color;
  }
  & h4 {
    color: $labels-color;
    @include breakpoint(md) {
      margin-left: 2dvw;
    }
  }
  & .table-responsive,
  & code,
  & pre {
    @include breakpoint(xl) {
      max-width: 60dvw;
      margin: 1em auto;
    }
  }

  & > ol {
    li {
      margin-bottom: 4dvw;
    }
    & > li::marker {
      color: $accent-color;
      font-weight: bold;
      font-size: clamp(1.25rem, 2.5vw, 2rem); // 20–32px
    }
  }
}
.project-video {
  margin: 0px auto;
  max-width: 960px;
  width: 100%;
  aspect-ratio: 16/9;
  height: max-content;
  max-height: 720px;
}
