---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Certificados">
  <h2 class="text-primary text-center">Certificados</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis quis
    blanditiis tenetur harum voluptas minima delectus? Quod, numquam
    consequatur. Dolor, alias! Numquam ducimus delectus cupiditate ipsum id ad
    inventore.
  </p>
</PageLayout>
