---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import ProjectComponent from "../components/ProjectComponent.jsx";
const projects = await getCollection("projects");
---

<PageLayout title="Proyectos">
  <h2 class="text-primary text-center">Proyectos</h2>
  <ProjectComponent projects={projects} />
</PageLayout>
