---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Mensaje enviado">
  <section class="success-page">
    <h1 class="text-primary">¡Gracias por tu mensaje!</h1>
    <p>
      Tu mensaje ha sido enviado correctamente. Me pondré en contacto contigo lo
      antes posible.
    </p>
    <a href="/" class="button-text-background-accent">Volver al inicio</a>
  </section>
</PageLayout>
