---
import { Icon } from "astro-icon/components";
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer--content">
    <p>
      &copy; {year} José Hernández. CC BY-NC-ND
      <span aria-hidden="true">😉</span>
    </p>

    <div class="footer--social">
      Encuéntrame en:
      <a
        class="button-icon-accent"
        aria-label="Perfil en GitHub"
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/JoseDHernandez/"
      >
        <Icon name="github_v" />
      </a>
      <a
        class="button-icon-accent"
        aria-label="Perfil en LinkedIn"
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.linkedin.com/in/josedhernandezh/"
      >
        <Icon name="linkedin" />
      </a>
    </div>
  </div>
</footer>
<style lang="scss">
  @use "../styles/components/footer";
</style>
