---

---

<div class="project-skeleton">
  <div class="project-skeleton-inputs">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>
  <div>
    <div class="project-skeleton-card">
      <div class="project-skeleton-card-image">&nbsp;</div>
      <div class="project-skeleton-card-title">&nbsp;</div>
      <div class="project-skeleton-card-description">&nbsp;</div>
      <div class="project-skeleton-card-logos">
        <div></div><div></div><div></div><div></div><div></div><div></div><div>
        </div><div></div>
        <div></div><div></div>
      </div>
    </div>
    <div class="project-skeleton-card">
      <div class="project-skeleton-card-image">&nbsp;</div>
      <div class="project-skeleton-card-title">&nbsp;</div>
      <div class="project-skeleton-card-description">&nbsp;</div>
      <div class="project-skeleton-card-logos">
        <div></div><div></div><div></div><div></div><div></div><div></div><div>
        </div><div></div>
        <div></div><div></div>
      </div>
    </div>
    <div class="project-skeleton-card">
      <div class="project-skeleton-card-image">&nbsp;</div>
      <div class="project-skeleton-card-title">&nbsp;</div>
      <div class="project-skeleton-card-description">&nbsp;</div>
      <div class="project-skeleton-card-logos">
        <div></div><div></div><div></div><div></div><div></div><div></div><div>
        </div><div></div>
        <div></div><div></div>
      </div>
    </div>
    <div class="project-skeleton-card">
      <div class="project-skeleton-card-image">&nbsp;</div>
      <div class="project-skeleton-card-title">&nbsp;</div>
      <div class="project-skeleton-card-description">&nbsp;</div>
      <div class="project-skeleton-card-logos">
        <div></div><div></div><div></div><div></div><div></div><div></div><div>
        </div><div></div>
        <div></div><div></div>
      </div>
    </div>
  </div>
</div>
<style lang="scss">
  @use "../styles/components/projectSkeleton";
</style>
