---
/* -- Props -- */
interface Props {
  title: string;
}
const { title } = Astro.props;
/* -- Metadata -- */
import { SITE_DESCRIPTION, SITE_KEYWORDS } from "../consts";
/* -- Fonts -- */
import { AstroFont } from "astro-font";
/* -- Components -- */
import Footer from "../components/Footer.astro";
import Header from "../components/Header.jsx";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="keywords" content={SITE_KEYWORDS} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <title>{title}</title>
    <AstroFont
      config={[
        {
          name: "Poppins",
          src: [
            {
              style: "normal",
              weight: "700",
              path: "/fonts/Poppins-Bold.ttf",
            },
            {
              style: "normal",
              weight: "500",
              path: "/fonts/Poppins-Medium.ttf",
            },
          ],
          preload: false,
          display: "swap",
          selector: "h1,h2,h3,h4,h5,h6",
          fallback: "sans-serif",
        },
        {
          name: "Open Sans",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "/fonts/OpenSans-Regular.ttf",
            },
          ],
          preload: false,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "Open Sans",
          src: [
            {
              style: "normal",
              weight: "700",
              path: "/fonts/OpenSans-Bold.ttf",
            },
          ],
          preload: false,
          display: "swap",
          selector: "b,strong",
          fallback: "sans-serif",
        },
        {
          name: "Open Sans",
          src: [
            {
              style: "italic",
              weight: "400",
              path: "/fonts/OpenSans-Italic.ttf",
            },
          ],
          preload: false,
          display: "swap",
          selector: "i,em,q",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body>
    <Header client:load />
    <main id="swup" class="transition-fade">
      <slot />
    </main>
    <Footer />
    <script>
      import Swup from "swup";

      const swup = new Swup({ native: true, animationSelector: false });
    </script>
  </body>
</html>
<style lang="scss" is:global>
  @use "../styles/global.scss";
</style>
