---
import { render } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import GalleryModal from "../../components/GalleryModal";
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
const { Title } = project.data;
const { Content } = await render(project);
---

<PageLayout title={Title} description={project.data.Short_description}>
  <section>
    <h1
      class="text-center text-primary"
      transition:name=`project-title-${Title}`
    >
      {Title}
    </h1>
    <div class="project-page-mdx">
      <Content />
    </div>
  </section>
  <GalleryModal client:only="react" />
</PageLayout>
<style lang="scss" is:global>
  @use "../../styles/pages/projectpage.scss";
</style>
