* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}
body {
  min-height: 100dvh;
  margin: 0;
  font-family: "OpenSans-Regular";
}
h1,
h2 {
  font-family: "Poppins-Bold";
  text-wrap: balance;
}
h3,
h4,
h5,
h6 {
  font-family: "Poppins-Medium";
  text-wrap: balance;
}
p {
  line-height: 1.5;
  text-wrap: pretty;
  overflow-wrap: break-word;
  hyphens: auto;
}
h1 {
  font-size: clamp(40px, 6vw, 78px);
}
h2 {
  font-size: clamp(32px, 4vw, 48px);
}
h3 {
  font-size: clamp(28px, 3.5vw, 42px);
}
h4 {
  font-size: clamp(24px, 3vw, 36px);
}
h5 {
  font-size: clamp(22px, 2.5vw, 32px);
}
h6 {
  font-size: clamp(20px, 2vw, 28px);
}
p {
  font-size: clamp(16px, 1.5vw, 18px);
}
small {
  font-size: clamp(12px, 1.2vw, 14px);
}
.content {
  padding: 0 10dvw;
}
